.page {
    width: 100%;
    height: 100%;
    position: relative; /* Ensure the parent has a relative position */
    overflow: hidden;
 }
 
 .circle1 {
     position: absolute;
     width: 456px;
     height: 456px;
     border-radius: 50%;
     background-color: #FFF5F5;
     transform: translateX(-87px) translateY(-65px);
 }
 
 .circle2 {
     position: absolute;
     width: 557px;
     height: 557px;
     border-radius: 50%;
     background-color: rgba(255, 197, 165, 0.68);
     top: 0;
     left: 333px;
     transform: translateY(-354px);
 }

 .circle3{
    position: absolute;
    width: 792px;
    height: 792px;
    border-radius: 50%;
    background-color: rgba(224, 219, 255, 0.44);
    top: 0;
    left: 0;
    transform: translateX(-344px) translateY(428px);
 }

 .circle4{
    position: absolute;
    width: 432px;
    height: 432px;
    border-radius: 50%;
    background-color: rgba(251, 228, 255, 0.29);
    top: 500px;
    left: 570px;
 }

 .circle5{
    position: absolute;
    width: 572px;
    height: 572px;
    border-radius: 50%;
    background-color: rgb(255, 226, 171);
    top: 150px;
    left: 980px;
    z-index: 1;
 }

 .circle6{
    position: absolute;
    width: 432px;
    height: 432px;
    border-radius: 50%;
    background-color: #FFE5E5;
    bottom: 45px;
    right: 30px;
    z-index: 0;
 }